.smetas-container {
  height: 100%;
  width: 100%;

  .smetas-table {
      margin: 0 10px 0 10px;
      max-height: calc(100% - 88px);
      overflow: auto;
    background: #FFFFFF;
      table {
        font-family: arial, sans-serif;
        width: 100%;
        height: 100%;
        overflow: auto;
        border: 1px solid #dbdbdb;
        border-collapse: collapse;
      }

      td,
      th
       {
        text-align: left;
        padding: 10px 16px;
        border-top: 1px solid #dbdbdb;
        border-collapse: collapse;
      }

      th {
        background: #f0f0f0;
      }

      tr {
        cursor: pointer;
        &:hover {
          background-color: #e9f3fc;
          background-clip: padding-box;
          border-top: 1px solid #9dc7f1;
          border-bottom: 1px solid #9dc7f1;
        }
      }
      tr:nth-child(even) {
        &:hover {

        }
      }
      .delete-button {
        color: crimson;
      }
  }
}
