.add-appl-container {
  height: calc(100% - 40px);
  width: 100%;
  .add-button-wrapper {
    display: flex;
    margin-top: 40px;
    height: 32px;
    .add-button {
      background-color: #1f75cb;
      box-shadow: inset 0 0 0 1px #1068bf;
      margin: 8px 20px 0 auto;
      text-transform: none;
      height: 100%;
    }
  }

  .userlist-loader {
 display: flex;
 justify-content: center;
  }
  .pagination {
    height: 40px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-item-block {
    position: fixed;
    width: 630px;
    padding: 10px;
    height: calc(100% - 40px);
    top: 40px;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    border-left: 1px solid #dbdbdb;
  }
  .user-item-block-closed {
 transform: translateX(650px);
 transition: transform 1s;
  }
  .user-item-block-open {
    transform: translateX(0px);
    transition: transform 1s;
  }
}
