.smeta-table {
  .diagnosis-table {
    margin-top: 20px;
    .table-section {
      max-height: 350px;
      table {
        thead {
          tr {
            border-color: #EAEAEA;
            background: #F8FAFC;
            font-weight: 400;
            color: #526069;

            th {
              padding: 8px;
              border-bottom: 2px solid #ddd;
            }
            .del-btn {
              width: 65px;
            }
          }
        }

        tbody {
          tr {
            td {
              padding: 8px;
              border-bottom: 1px solid #ddd;
            }
          }
        }
      }
    }
    .add-index {
      width: 174.19px;
    }
    .add-add-btn {
      width: 65px;
    }
    tr {
      td {
        padding: 8px;
      }
    }
  }
}