.application-item {
    overflow: auto;
    margin-top: 45px;
}
.only-for-inner-warning {
    color: red;
}

.most-probbl-diagnosis {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h4 {
        text-align: start;
        margin-left: 10px;
    }
}
.add-in-table-comments {
    display: flex;
    justify-content: start;
    align-items: center;
}
.comments-section-wrapper {
    display: flex;
    align-items: center;
}
