.add-appl-container {
    height: 100%;
    width: 100%;
    .add-button-wrapper {
        display: flex;
        height: 32px;
        .add-button {
            background-color: #1f75cb;
            box-shadow: inset 0 0 0 1px #1068bf;
            margin: 8px 20px 0 auto;
            text-transform: none;
            height: 100%;
        }
    }
    .appl-table {
        margin: 14px 10px 0px 10px;
        max-height: calc(100% - 142px);
        overflow: auto;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 2px 8px;
        }
        tr {
            cursor: pointer;
            &:hover {
                background-color: #747474;
                color: white;
            }
        }
        tr:nth-child(even) {
            background-color: #f0f0f0;
            &:hover {
                background-color: #747474;
                color: white;
            }
        }
        .delete-button {
            color: crimson;
        }
    }
    .pagination {
        height: 40px;
        padding: 8px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
